@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

.skillwrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}

.skillcard{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    padding: 15px;
    border-radius: 6px;
    font-size: 15px;
    color: #515251;
}

/* .skillsheading {
    display: flex;
    gap: 7px;
} */

.skillsheading > h2 {
    align-self: center;
    color: black;
    margin: 10px;
}

.skillcard> p {
    line-height: 30px;
}

.skillsheading > ion-icon {
    font-size: 40px;
}

.column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 10px;
}