.home__container {
  display: grid;
  grid-template: 50fr 50fr / 70fr 30fr;
  border: 2px solid transparent;
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* align-content: center; */
  height: 100vh;
  gap: 20px;
}

.performance__container,
.courses__container,
.message__container,
.eleve__container {
  background-color: red;
  border-radius: 15px;
  padding: 10px;
}