
/* MENU */
.menu{
  display: none;
}

.menu-line{
  background-color: rgb(248, 247, 247);
  width: 30px;
  height: 4px;
  border-radius: 3px;
  margin: 5px;
}

.block{
  display: block;
}

/*----------------end menu--------------*/

.socialIcons {
    display: flex;
    gap: 10px;
}

.navbar{
  /* position: relative; */
  background-color: white;
  padding: 10px;
  height: max-content;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.logocbg{
  border-radius: 30%;
  width: max-content;
  color: white;
}

.navlinks{
  list-style-type: none;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  gap: 20px;
  color: #184C72;
  padding: 20px;
}

.link{
  align-self: center;
}

.link > a {
    text-decoration: none;
    color: #184C72;
}

.link-none {
    display: none;
}

.logoimage{
  width: 130px;
  height: 130px;
  /* border-radius: 27%; */
}

/*===============Nav popup================*/

.navpopup {
  background-color: blueviolet;
  padding: 10px;
}

.navpopup ul {
  list-style-type: none;
}

.navpopup ul li {
  border-color: 1px solid #000;
}